<h1>CARS</h1>

<% @cars.each do |c| %>

<div class="outer">
	<%= link_to car_path c do %>
        <strong><%= c.year.to_s + " " + c.make + " " + c.car_model + " - " + c.price %></strong>
    <% end %>

</div>
<br>
<% end %>

<br>
<br>

<%= link_to 'ADD NEW CAR LISTING', new_car_path %>
