<h1>LISTINGS</h1>

<% @cars.each do |c| %>

	<div>
	<%= link_to car_path c do %>
        <h3><%= c.year.to_s + " " + c.make + " " + c.car_model + " - " + c.price %></h3>
    <% end %>
	</div>

<% end %>

